OglasiServis/Oglasi.dtd

<!ELEMENT OglasiLista (Oglas*)>
<!ELEMENT Oglas (Kategorija,DatumIsteka,Cena,Tekst,Oznaka*,E-mail+)>
<!ELEMENT Kategorija (#PCDATA)>
<!ELEMENT DatumIsteka (#PCDATA)>
<!ELEMENT Cena (#PCDATA)>
<!ELEMENT Tekst (#PCDATA)>
<!ELEMENT Oznaka (#PCDATA)>
<!ELEMENT E-mail (#PCDATA)>

<!ATTLIST OglasiLista noNamespaceSchemaLocation CDATA #REQUIRED>    
<!ATTLIST Cena valuta (rsd|eur|usd) "rsd">